@using Microsoft.AspNetCore.Mvc.Localization
@model ApplicationUserViewModel

@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = Model.UserName;
}

<div class="contentMain">
    <div class="col-sm-3">
        <div class="col-xs-12">
            <div id="mainAvatar">
                <img src="@Model.AvatarUrl" />
            </div>
        </div>
        <div class="col-xs-12">
            <h3>@Model.UserName</h3>
        </div>
        <div class="col-xs-12">
            <h5>@Model.Email</h5>
        </div>
        @if (UserManager.GetUserId(User) == Model.Id)
        {
            <div class="col-xs-12" id="newFanficButton">
                <a href="#" class="btn btn-success">@Localizer["NewFanfic"]</a>
            </div>
        }
    </div>
    <div class="col-sm-9">
        <div class="col-xs-12">
            <ul class="nav nav-tabs" id="menuProfile">
                <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">Info</a></li>
                <li class=""><a href="#fanfics" data-toggle="tab" aria-expanded="false">Fanfics</a></li>
            </ul>
        </div>
        <div class="col-xs-12">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">
                    @*<div class="col-xs-12">*@
                        <label class="control-label">First name</label>
                        <input class="form-control" type="text">
                    @*</div>
                    <div class="col-xs-12">*@
                        <label class="control-label">Last Name</label>
                        <input class="form-control" type="text">
                    @*</div>*@
                </div>
                <div class="tab-pane fade" id="fanfics">
                    <p>List of fanfics</p>
                </div>
            </div>
        </div>
    </div>
</div>
