@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}
<div id="content">
    <div class="row">
        <div class="col-sm-3" style="background:red;height:100px">

        </div>
        <div class="col-sm-9" style="background:blue;height:100px">

        </div>
    </div>
</div>