@model ForgotPasswordViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Forgot"];
}
<br /><br />
<div class="row">
    <div class="col-sm-4 col-sm-offset-1 col-xs-12">
        <br /><br /><br />
        <h3>@ViewData["Title"]</h3>
        <h4>@Localizer["EnterEmail"]</h4>
        <div class="panel panel-default" id="panelForgotPassword" style="width: 270px">
            <div class="panel-body">
                <form asp-action="ForgotPassword" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label>@Localizer["Email"]</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">@Localizer["Submit"]</button>

</form>
            </div>
        </div>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
        <div class="row">
            <img class="RegisterImage" src="~/images/sticks/3b.png" />
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
