.fanficBlock {
    border-radius: 5px !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) !important;
}

.authorData {
    padding-top: 7px;
}

.authorData p {
     margin: 0 !important;
}

@media(min-width: 768px) {
    .authorData b {
        font-size: 1.3em;
    }
}

.nameFanfic {
    text-decoration: underline;
}

@media(max-width: 767px) {
    .nameFanfic {
        font-size: 1.5em;
    }
    .fanficBlock {
        padding-top: 2px;
    }
    .img-fanfic {
        overflow:visible !important;
    }
}

.category-tag-list {
    margin-bottom: 10px;
}

.description-fanfic {
    text-align: justify;
}

.img-fanfic {
    overflow: hidden;
    min-height: 200px;
    max-height: 500px;
}

.img-fanfic img {
    width: 100%;
    border-radius: 3px;
}
