.fanficBlock {
    background: white;
    padding-bottom: 10px;
    z-index: +1;
    min-height: 93vh;
}

.authorData {
    padding-top: 7px;
}

.authorData p {
     margin: 0 !important;
}

@media(min-width: 768px) {
    .authorData b {
        font-size: 1.3em;
    }
}

.nameFanfic {
    text-decoration: underline;
}

@media(max-width: 767px) {
    .nameFanfic {
        font-size: 1.5em;
    }
    .fanficBlock {
        padding-top: 2px;
    }
    .img-fanfic {
        /*overflow:visible !important;*/
    }
    .start-fanfic {
        top: 25% !important;
    }
}

.category-tag-list {
    margin-top: 10px;
}

.description-fanfic {
    text-align: justify;
}

.description-fanfic + p {
    text-align: justify;
    word-break: break-word;
}

.img-fanfic {
    position: relative;
    overflow: hidden;
    /*min-height: 200px;*/
    max-height: 500px;
    width: 100%;
    border-radius: 3px;
}

.img-fanfic:after {
    content: '';
    background-color: #000;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
}

.img-fanfic:hover:after {
    opacity: 0.8;
}

.img-fanfic img {
    width: 100%;
}

.contents-fanfic p {
    border-radius: 3px;
}

.start-fanfic {
    position: absolute;
    z-index: 500;
    color: white;
    width: 100%;
    /*height: 100%;*/
    top: 35%;
}

.start-fanfic-text {
    display: none;
    text-align: center;
    vertical-align: middle;
}

.img-fanfic:hover .start-fanfic-text {
    display: block;
}

.send-comment-fanfic textarea {
    resize: none;
    max-width: 100%;
    margin-bottom: 10px;
}

.comment-fanfic {
    border-radius: 3px;
    padding: 10px 5px;
    margin-bottom: 10px;
}

.avatar-comment-fanfic {
    padding-right: 0;
}

@media(min-width: 768px) {
    .name-comment-fanfic div {
        padding-left: 0;
    }
}

.hr-comment {
    margin: 10px 0;
}

.avatar-comment-fanfic img {
    width: 36px;
    border-radius: 50%;
}

.like-button {
    display: inline;
    cursor: pointer;
}

.del-comment-button {
    text-align: right;
    padding-top: 5px;
    cursor: pointer;
}

.text-comment {
    word-wrap: break-word;
}

@media(max-height: 767px) {
    .align-right-mobile {
        text-align: right;
    }
}

.tool-bar-fanfic {
    margin-top: 20px;
}

.scrollbar {
    max-height: 360px;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 450px;
    padding-top: 5px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
}

.scrollbar-danger::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-danger::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-danger::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ff3547;
}

.scrollbar-warning::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-warning::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-warning::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #FF8800;
}

.scrollbar-success::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-success::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-success::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00C851;
}

.scrollbar-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-info::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #33b5e5;
}

.scrollbar-default::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-default::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-default::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #2BBBAD;
}

.scrollbar-secondary::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-secondary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-secondary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #aa66cc;
}

.bordered-black::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border: 1px solid #000;
}

.bordered-black::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none;
}

.thin::-webkit-scrollbar {
    width: 6px;
}