#content {
    margin-top: 20px;
}

/*   
.nav-tabs-dropdown {
    display: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

    .nav-tabs-dropdown:before {
        content: "\e114";
        font-family: 'Glyphicons Halflings';
        position: absolute;
        right: 30px;
    }

@media screen and (min-width: 769px) {
    #nav-tabs-wrapper {
        display: block !important;
    }
}

@media screen and (max-width: 768px) {
    .nav-tabs-dropdown {
        display: block;
    }

    #nav-tabs-wrapper {
        /*display: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        text-align: center;
    }

    .nav-tabs-horizontal {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    }

        .nav-tabs-horizontal > li {
            float: none;
        }

            .nav-tabs-horizontal > li + li {
                margin-left: 2px;
            }

            .nav-tabs-horizontal > li,
            .nav-tabs-horizontal > li > a {
                background: transparent;
                width: 100%;
            }

                .nav-tabs-horizontal > li > a {
                    border-radius: 4px;
                }

                .nav-tabs-horizontal > li.active > a,
                .nav-tabs-horizontal > li.active > a:hover,
                .nav-tabs-horizontal > li.active > a:focus {
                    color: #ffffff;
                    background-color: #428bca;
                }
}
*/

#Category {
    left: 0;
    position: none;
    width: 100%;
}
