@media(max-width:767px){
    .LogImage{
        display:none;
    }
}

#LoginMain {
    margin-top: 20px;
}

#SignInLabel {
    margin-left: -10px;
}

#LoginRememberMe {
    margin-top: 0px;
    padding-left: 40px;
}

#LoginForgot {
    padding-left: 20px;
}

#LoginOrLabel {
    padding-left: 7px;
}

.LoginProviders {
    width: 50px;
    height: auto;
    cursor: pointer;
    text-align: center;

}