* {
    outline: 0 !important;
}

html, body, .body-content {
    height: 100% !important;
}

body, .body-content {
    min-height: 100%;
}

body {
    padding-top: 50px;
    -webkit-transition: .74s all;
    -moz-transition: .74s all;
    -o-transition: .74s all;
    transition: .74s all;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.contentMain {
    margin-top: 20px;
    font-size: .9em;
}

/* Category and Tag */

.categoryButton {
    background: #0049c4;
    padding: 5px;
    display: inline-block;
    border-radius: 3px;
    color: white;
}

.categoryButton:hover {
    color: white;
    text-decoration: none;
}

.tagButton {
    padding: 5px;
    display: inline-block;
    border-radius: 3px;
    color: white;
}

.tagButton:hover,
.tagButton:focus{
    background: #677da3;
    color: white;
    text-decoration: none;
}

.tag-cloud {
    margin-bottom: 3px;
    border-radius: 3px 0 0 3px;
}

.tag-count {
    display: inline-block;
    padding: 5px;
    color: white;
    border-radius: 0 3px 3px 0;
}

.div-tag {
    display: inline-block;
}


.tagButton, .categoryButton {
    margin-bottom: 3px
}

.small-text {
    font-size: .9em;
}

.min-border-input {
    margin-top: 10px;
    border-width: 1px;
}

.min-border-input:hover {
    background: rgba(209, 209, 209, 0.15);
    cursor: text;
}

#categoryProfile,
#popOrNewProfile {
    cursor: pointer !important;
}

#cloudinary-overlay.modal {
    background-color: rgba(0,0,0,.5) !important;
}

.contentOther {
    font-size: .9em;
}

.button-initial {
    background: initial;
    border: 0;
    padding: 0;
    margin: 0;
}

.modal {
    top: 30% !important;
}

.navbar-fixed-top {
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
}

.no-body-padding {
    padding-top: 0;
}

.no-comments {
    display: none;
}


.no-navbar {
    top: -10%;
}

.no-left {
    left: 0% !important;
}

.no-left i {
    left: 10% !important;
}

.no-right i {
    right: 10% !important;
}

.no-right {
    right: 0% !important; 
}

.btn-success {
    background-color: #3498db !important;
    border-color: #3498db !important;
}