* {
    outline: 0 !important;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.contentMain {
    margin-top: 20px;
    font-size: .9em;
}

/* Category and Tag */

.categoryButton {
    background: #0049c4;
    padding: 5px;
    display: inline-block;
    border-radius: 3px;
    color: white;
}

.categoryButton:hover {
    color: white;
    text-decoration: none;
}

.tagButton {
    background: #4976c4;
    padding: 5px;
    display: inline-block;
    border-radius: 3px;
    color: white;
}

.tagButton:hover {
    color: white;
    text-decoration: none;
}

.tag-cloud {
    margin-bottom: 3px;
    border-radius: 3px 0 0 3px;
}

.tag-count {
    background: #0049c4;
    display: inline-block;
    padding: 5px;
    color: white;
    border-radius: 0 3px 3px 0;
}

.div-tag {
    display: inline-block;
}


.tagButton, .categoryButton {
    margin-bottom: 3px
}

.small-text {
    font-size: .9em;
}

.min-border-input {
    border-width: 1px;
}